@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .printable {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 148mm; /* Ancho de una hoja A5 */
      height: 210mm; /* Altura de una hoja A5 */
      padding-left: 18mm; /* Espacio alrededor del contenido */
      padding-right: 10mm;
      padding-bottom: 36mm;
      box-sizing: border-box; /* Incluir el padding en el tamaño total del div */
      page-break-after: always; /* Insertar un salto de página después del div al imprimir */
  }
  .name-p {
    margin-left: 32mm;
    padding-bottom: 10mm;
  }
  .fecha-p {
    margin-left: 75mm;
    margin-top: 40mm;
    @apply flex ;
  }

  .month-p {
    margin-left: 5mm;
    margin-right: 5mm;
  }
}

.fecha-p {
  @apply flex gap-2 justify-end;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}*/
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/*
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
